DISCORD_BOT_TOKEN=
DISCORD_BOT_STATUS=online
DISCORD_BOT_ACTIVITY_TYPE=Watching
DISCORD_BOT_ACTIVITY_TEXT=darkabyss.nl
NITRADO_1_API_TOKEN=
NITRADO_1_SERVICE_IDS=
NITRADO_2_API_TOKEN=
NITRADO_2_SERVICE_IDS=
NITRADO_API_BASE_URL=https://api.nitrado.net
NITRADO_POLL_SECONDS=120
